/* NEW CSS for NEW Look and FEEL */
/* For mobile phones: */
/*  [class*="col-"] {
    width: 100%;
} */
/* Custom, iPhone Retina */ 

.activeNavItem {
	color: #fdfdfd;
	background: #28bb9c; ! important;
}

.container {
	margin-top: 5px; ! important;
}

.portlet.box.blue {
	border: 1 px solid #28bb9c;
}

.portlet-title {
	background-color: #28bb9c; ! important;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

/*Status dropdown*/
.lblStatus {
	margin-right: 12px;
	width: 94px;
}
.page-header{
	padding-bottom: 0px;
    margin: 0px 0 0px;
    border-bottom: 1px solid transparent;
}