 /* NEW CSS for NEW Look and FEEL */
.container {
 	margin-top: 5px; !important;
 	margin-bottom: 5px; !important;
 }
 .portlet.box.blue{
 border: 1 px solid #28bb9c;
}
.portlet-title{
	background-color: #28bb9c; !important;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.bimal{
	color: red;
}
 