/* NEW CSS for NEW Look and FEEL */
/* For mobile phones: */
/*  [class*="col-"] {
    width: 100%;
} */
@media only screen and (min-width: 768px) {
 /*    For desktop:  */
	.container {
		margin-top: 5px; ! important;
		margin-bottom: 5px; !important;
	}
	.portlet.box.blue {
		border: 1 px solid #28bb9c;
	}
	.portlet-title {
		background-color: #28bb9c;
	}
	.alignleft {
		float: left;
	}
	.alignright {
		float: right;
	}


}