.ui-datepicker-calendar {
	display: none;
}

.ui-datepicker-header select.ui-datepicker-month, .ui-datepicker-header select.ui-datepicker-year
	{
	width: 100px;
}

.ui-datepicker-next, .ui-datepicker-prev {
	display: none;
}

#ui-datepicker-div {
	width: 250px;
	border: 1px solid rgb(128, 128, 128);
	margin: 5px 0 5px 0;
	padding: 5px;
	background: #e8eef4;
	display: none;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 1em;
}

.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: 5px 17px 0 0;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	/*width: auto;*/
	overflow: visible;
	color: white;
	background-color: #45b6af;
	border-color: #3ea49d;
	border: 1px solid transparent;
	letter-spacing: 1px;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
	margin-left: 16px;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 1em;
}

div.ui-datepicker-header {
	margin-top: 5px;
	text-align: center;
}

div.ui-datepicker-header select {
	margin: 0 3px;
}

.ui-datepicker-current, .ui-datepicker-close {
	width: 60px;
}

.register-cancel-btn{
	margin-right:55px;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  width: 250px;
	border: 1px solid rgb(128, 128, 128);
	margin: 5px 0 5px 0;
	padding: 5px;
	background: #e8eef4;
	display: none;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 1em;
	cursor: pointer;
}
.bootstrap-datetimepicker-widget.dropdown-menu a span:hover,
.bootstrap-datetimepicker-widget.dropdown-menu a span:focus {
  background-color: #32aa62 !important;
  color: #fff !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu ul{
	list-style: none;
}



